.js .flyout {
  width: 260px;
  top: 0;
  bottom: 0; }
.no-overflowscrolling .flyout {
  position: absolute; }
.overflowscrolling .flyout {
  position: fixed;
  z-index: 10;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow: auto; }
.no-csstransforms3d .flyout {
  display: none; }
  .no-csstransforms3d .flyout.is-active {
    display: block; }
.csstransforms3d .flyout {
  -webkit-transform: translate3d(-100000px, 0, 0);
  transform: translate3d(-100000px, 0, 0); }
  .csstransforms3d .flyout.is-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
.active-flyout--expand .flyout {
  width: 100% !important; }

.flyout--left {
  left: 0; }

.flyout--right {
  right: 0; }

.flyout-wrap {
  position: relative;
  z-index: 20; }
  .csstransforms3d .flyout-wrap {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.085, 0.75, 0.345, 1.46);
    transition: all 0.3s cubic-bezier(0.085, 0.75, 0.345, 1.46); }
    .csstransforms3d .flyout-wrap .csstransforms3d.active-flyout {
      -webkit-transition: all 0.65s cubic-bezier(0.48, -0.555, 0.165, 1.605);
      transition: all 0.65s cubic-bezier(0.48, -0.555, 0.165, 1.605); }
  .csstransforms3d.active-flyout--left .flyout-wrap {
    -webkit-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0); }
  .csstransforms3d.active-flyout--left.active-flyout--expand .flyout-wrap {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  .csstransforms3d.active-flyout--right .flyout-wrap {
    -webkit-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0); }
  .csstransforms3d.active-flyout--right.active-flyout--expand .flyout-wrap {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  .no-csstransforms3d.active-flyout--left .flyout-wrap {
    left: 260px; }
  .no-csstransforms3d.active-flyout--left.active-flyout--expand .flyout-wrap {
    left: 100%; }
  .no-csstransforms3d.active-flyout--right .flyout-wrap {
    right: 260px; }
  .no-csstransforms3d.active-flyout--right.active-flyout--expand .flyout-wrap {
    right: 100%; }

.html,
.active-flyout {
  overflow-x: hidden;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 1em; }

body {
  font-family: 'Helvetica Neue', Arial, sans-serif; }

img {
  max-width: 100%; }

.wrapper {
  position: relative; }

.btn {
  display: inline-block;
  padding: .25em .45em;
  border: solid 1px #ccc;
  border-radius: 6px;
  color: #444;
  text-decoration: none;
  background-color: #f1f1f1;
  background-image: linear-gradient(white, #f1f1f1); }

.btn--expand {
  margin: 1em; }

.flyout {
  background-color: #f1f1f1; }

.flyout-wrap {
  padding: 1em;
  background-color: #fff; }

.split {
  text-align: right; }
  .split .split__left {
    float: left; }

.main-nav {
  padding: 0 .25em 1em;
  border-bottom: solid 1px #ccc;
  background-color: #fff; }

.nav {
  list-style: none;
  border-top: solid 1px #ccc; }

.nav__item a {
  display: block;
  padding: 1em 1em;
  color: #444;
  text-decoration: none;
  border-bottom: solid 1px #ccc; }
