// =============================================================================
// Flyout
// Off-canvas flyout navigation
//
// Table of contents:
// 1. Mixins
// 2. Flyout
// 3. Wrap
//
// =============================================================================

// =============================================================================
// 1. Mixins
// =============================================================================

@mixin flyout-translate3d($x:0, $y:0, $z:0) {
    -webkit-transform: translate3d($x, $y, $z);
            transform: translate3d($x, $y, $z);
}

@mixin flyout-transition($shorthand) {
    -webkit-transition: $shorthand;
    transition: $shorthand;
}

@mixin flyout(
    $width: 80%,
    $animate: true,
    $in-duration: .3s,
    $in-easing: ease-in-out,
    $out-duration: .65s,
    $out-easing: ease-in-out
    ) {

    // =============================================================================
    // 2. Flyout
    // =============================================================================

    .flyout {

        // If JS available
        //   [1] Position at the top of the screen/container
        //   [2] Move it under the main content (flyout-wrap)
        //   [3] Set width
        .js & {
            top: 0;                                             // [1]
            z-index: 10;                                        // [2]
            width: $width;                                      // [3]
        }

        // If Browser supports overflow-scrolling
        //   [1] Fix position
        //   [2] Make it full height
        //   [3] Touch overflow scrolling
        .overflowscrolling & {
            position: fixed;                   // [1]
            height: 100%;                      // [2]
            bottom: 0;                         // [2]
            -webkit-overflow-scrolling: touch; // [3]
            overflow-scrolling: touch;         // [3]
            overflow: scroll;                  // [3]
        }

        // If Browser doesn't support overflowscrolling but supports overflow auto
        // This rule tries to exclude Android Browser 2.x that doesn't support overflow:auto
        // but unfortunately it also excludes more capable touch-enabled browsers :(
        //   [1] Fix position
        //   [2] Make it full height
        //   [3] Touch overflow scrolling
        .no-touch.no-overflowscrolling & {
            position: fixed; // [1]
            bottom: 0;       // [2]
            overflow: auto;  // [3]
        }

        // If Browser doesn't support overflows-crolling but supports touch
        // This rule is targeted at Android Browser 2.x that doesn't support overflow:auto
        // but unfortunately it also applies to more capable touch-enabled browsers :(
        //   [1] Position absolutely
        //   [2] Make it full height
        .touch.no-overflowscrolling & {
            position: absolute; // [1]
            bottom: 0;          // [2]
        }


        // If Browser doesn't support 3D transforms
        //   [1] Hide using display:none
        //   [2] Show when .is-active
        .no-csstransforms3d & {
            display: none;                                      // [1]
            &.is-active { display: block; }                     // [2]
        }

        // If Browser supports 3D transforms
        //   [1] Hide using translate 3D (hw accelerated, better performance than display:none)
        //   [2] Show when .is-active
        .csstransforms3d & {
            @include flyout-translate3d(-100000px,0,0);         // [8]
            &.is-active { @include flyout-translate3d(0,0,0); } // [8]
        }

        // When expand is set force 100% width
        .active-flyout--expand & {
            width: 100% !important;
        }
    }

    .flyout--left {
        left: 0;
    }

    .flyout--right {
        right: 0;
    }


    // =============================================================================
    // 3. Wrap
    // Main content wrapper
    // =============================================================================

    .flyout-wrap {
        position: relative;
        z-index: 20;

        .active-flyout.overflowscrolling &,
        .active-flyout.no-touch & {
            position: fixed;
            height: 100%;
        }


        // Transitions
        // =============================================================================

        @if $animate == true {

            // If CSS 3D transforms are available
            // If CSS 3D transforms aren't available don't use transitions because left/right
            // positioning have poor performance
            //   [1] Prevent translate3d flickering
            //   [2] Off-canvas transition in and out
            .csstransforms3d & {

                -webkit-backface-visibility: hidden;                            // [1]
                   -moz-backface-visibility: hidden;                            // [1]
                    -ms-backface-visibility: hidden;                            // [1]

                @include flyout-transition(all $in-duration $in-easing);        // [2]

                .csstransforms3d.active-flyout {
                    @include flyout-transition(all $out-duration $out-easing);  // [2]
                }
            }
        }

        // Positioning
        // =============================================================================

        // Translate 3D positioning
        //   [1] Show left flyout moving the wrap to the right
        //   [2] Show right flyout moving the wrap to the left

        .csstransforms3d.active-flyout--left &   {
            @include flyout-translate3d($width, 0, 0);                          // [1]
        }

        .csstransforms3d.active-flyout--left.active-flyout--expand & {
            @include flyout-translate3d(100%, 0, 0);                            // [1]
        }

        .csstransforms3d.active-flyout--right &  {
            @include flyout-translate3d(-$width, 0, 0);                         // [2]
        }

        .csstransforms3d.active-flyout--right.active-flyout--expand & {
            @include flyout-translate3d(-100%, 0, 0);                           // [2]
        }

        // Normal Positioning
        //   [1] Show left flyout moving the wrap to the right
        //   [2] Show right flyout moving the wrap to the left

        .no-csstransforms3d.active-flyout--left &   {
            left: $width;                                                       // [1]
        }

        .no-csstransforms3d.active-flyout--left.active-flyout--expand & {
            left: 100%;                                                         // [1]
        }

        .no-csstransforms3d.active-flyout--right &   {
            right: $width;                                                      // [2]
        }

        .no-csstransforms3d.active-flyout--right.active-flyout--expand & {
            right: 100%;                                                        // [2]
        }
    }


    // Lock horizontal scrolling. @todo: Should only be triggered when flyout
    // is active but for some reason, after closing there's empty space remaining
    // to the right of the content
    .html,
    .active-flyout {
        overflow-x: hidden;
        width: 100%;
    }

}